* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo {
    color: white;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

.nav-links a:hover {
    background-color: #575757;
}

.content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.content :hover {
    background-color: #f1f1f1;
}

.dropdown:hover .content {
    display: block;
}

@media (max-width:1399){
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        padding: 10px 20px;
    }
    
    .logo {
        color: white;
        font-size: 24px;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .nav-links li {
        position: relative;
    }
    
    .nav-links a {
        color: white;
        text-decoration: none;
        padding: 15px 20px;
        display: block;
    }
    
    .nav-links a:hover {
        background-color: #575757;
    }
    
    .content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        z-index: 1;
    }
    
    .content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .content :hover {
        background-color: #f1f1f1;
    }
    
    .dropdown:hover .content {
        display: block;
    }
}

@media (max-width:1199){
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        padding: 10px 20px;
    }
    
    .logo {
        color: white;
        font-size: 24px;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .nav-links li {
        position: relative;
    }
    
    .nav-links a {
        color: white;
        text-decoration: none;
        padding: 15px 20px;
        display: block;
    }
    
    .nav-links a:hover {
        background-color: #575757;
    }
    
    .content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        z-index: 1;
    }
    
    .content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .content :hover {
        background-color: #f1f1f1;
    }
    
    .dropdown:hover .content {
        display: block;
    }
}
@media (max-width:991){
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        padding: 10px 20px;
    }
    
    .logo {
        color: white;
        font-size: 24px;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .nav-links li {
        position: relative;
    }
    
    .nav-links a {
        color: white;
        text-decoration: none;
        padding: 15px 20px;
        display: block;
    }
    
    .nav-links a:hover {
        background-color: #575757;
    }
    
    .content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        z-index: 1;
    }
    
    .content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .content :hover {
        background-color: #f1f1f1;
    }
    
    .dropdown:hover .content {
        display: block;
    }
}
@media (max-width:767){
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        padding: 10px 20px;
    }
    
    .logo {
        color: white;
        font-size: 24px;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .nav-links li {
        position: relative;
    }
    
    .nav-links a {
        color: white;
        text-decoration: none;
        padding: 15px 20px;
        display: block;
    }
    
    .nav-links a:hover {
        background-color: #575757;
    }
    
    .content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        z-index: 1;
    }
    
    .content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .content :hover {
        background-color: #f1f1f1;
    }
    
    .dropdown:hover .content {
        display: block;
    }
}

@media (max-width:575){
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        padding: 10px 20px;
    }
    
    .logo {
        color: white;
        font-size: 24px;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .nav-links li {
        position: relative;
    }
    
    .nav-links a {
        color: white;
        text-decoration: none;
        padding: 15px 20px;
        display: block;
    }
    
    .nav-links a:hover {
        background-color: #575757;
    }
    
    .content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        z-index: 1;
    }
    
    .content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .content :hover {
        background-color: #f1f1f1;
    }
    
    .dropdown:hover .content {
        display: block;
    }
}